@import "base";

/* #Header & Footer
================================================== */

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: var(--color-st);

    &__logo {
        width: 120px;
    }
}

.footer {
    background: var(--color-dark);
    color: var(--color-gray);
    padding: 1rem 0;

    &__logo {
        width: 120px;
    }

    &__socials {
        display: flex;
        justify-content: center;
        font-size: 1.6rem;

        li {
            list-style: none;

            a {
                margin-left: .7rem;

                &:hover {
                    color: var(--color-st);
                    transition: all ease-in-out 500ms;
                }
            }
        }
    }

    &__email {

        &:before {
            content: attr(data-title);
        }
    }

    &__copy {
        padding: 1rem 10rem;
        margin-top: 1rem;
        border-top: 1px solid rgba(#CCC, .1);
    }
}

/* #Main
================================================== */

.main {

    &__header {
        padding: 1.4rem;
        background: var(--color-gray-nd);
        margin-bottom: 2rem;

        i {
            font-size: 1.4rem;
            margin-right: 1rem;
        }
    }

    .col {
        align-items: flex-stretch;
        align-items: stretch;
    }

    .box {
        background: var(--color-light);
        margin-bottom: 1rem;
        width: 100%;
        height: 100%;
        position: relative;
        flex: 1;
        padding: 1em 1.5rem;
        box-shadow: 3px 3px 3px rgba(#999, .1);

        &__title {

            strong {
                margin-top: 2rem;
                display: block;
            }
        }

    }

    .product {
        &__img {
            width: 300px;
            height: 300px;
            border: 1px solid var(--color-gray-nd);
            display: flex;
            margin: auto;

            img {
                object-fit: cover;
            }
        }

        &__table {
            margin-top: 2rem;

            table {
                width: 100%;
            }


            th,
            td {
                text-align: left;
                width: 50%;
            }

            th {
                border-bottom: 1px solid var(--color-gray-nd);
                padding-bottom: .8rem;
            }

            td {
                font-size: .8rem;
            }
        }
    }

    .status {
        width: 100%;
        text-align: center;
        font-size: .8rem;
        color: var(--color-nd);
        font-weight: bold;

        &.is-error {
            color: var(--color-error);
        }
    }

    .form {
        &__input {
            width: 100%;
            padding-left: .3rem;
            margin: .5rem 0;

            &.is-error {

                input,
                select {
                    border: 1px solid var(--color-error);
                }
            }

            &__error {
                font-size: .8rem;
                color: var(--color-error);
            }
        }

        &__buttons {
            display: flex;
            justify-content: flex-end;
        }
    }

    .payment {
        &__tabs {

            ul {
                display: flex;
                justify-content: stretch;
                align-items: stretch;

                li {
                    list-style: none;
                    padding: .8rem;
                    text-align: center;
                    flex: 1;
                    background: var(--color-gray);
                    cursor: pointer;
                    font-size: .9rem;

                    &.is-active {
                        border: 1px solid var(--color-gray-nd);
                        border-bottom: none;
                        background: var(--color-light);
                    }

                    i {
                        margin-right: .3rem;
                    }
                }
            }
        }

        &__tab {
            padding-top: 2rem;
            display: none;

            &.is-active {
                display: block;
            }
        }

        .boleto {
            &__info {

                &__title {
                    text-align: center;
                    display: flex;
                    flex-direction: column;

                    i {
                        font-size: 4rem;
                        margin-bottom: 1rem;
                    }
                }

                ol {
                    list-style-position: inside;
                    padding: 2rem;

                    li {
                        margin-top: .5rem;
                    }
                }
            }

            &__button {
                display: flex;
                width: 100%;
                justify-content: center;
            }
        }
    }

}